@{
    ViewData["Title"] = "Home Easy";
}


<div class="text-center">
    <h1 class="display-3">Bem-vindo ao Home Easy</h1>
    <p class="lead">
        O Home Easy é uma plataforma versátil disponível para web e mobile, projetada para simplificar a contratação de serviços manuais e promover a interação entre profissionais e clientes. Identificamos uma lacuna no mercado onde a dificuldade em encontrar e contratar serviços manuais de forma rápida e conveniente era um problema comum.
    </p>
    <p class="lead">
        Com uma interface intuitiva, o Home Easy permite aos usuários acessar uma ampla gama de serviços, desde pequenos reparos até especialidades como eletricistas e encanadores. Nosso principal objetivo é fornecer uma plataforma eficiente que simplifique o processo de contratação e aumente a visibilidade dos profissionais.
    </p>
    <p class="lead">
        Desenvolvido com o framework Razor Pages, integrado ao ASP .NET MVC e implementado com C#, o Home Easy atende às necessidades imediatas dos clientes enquanto oferece novas oportunidades para prestadores de serviços. A plataforma é especialmente voltada para a geração Z, que representa 40% dos consumidores e exige soluções digitais ágeis.
    </p>
    <p class="lead">
        Além de facilitar a conexão entre clientes e profissionais, o Home Easy oferece uma vitrine digital para os trabalhadores com ocupações manuais, ajudando-os a se destacar e conquistar novos clientes. Nossa solução busca preencher a lacuna existente no mercado e proporcionar uma experiência positiva e eficiente para todos os usuários.
    </p>
</div>
